<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DS220 Wine Picker</title>
</head>
<style>
    li
    {
        margin-top: 15px;
    }
</style>

<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div style="padding-left: 20px; border: 3px pink solid; width: 50%">
    <h1>DS220 Wine Picker Application</h1>
    <p><i> By Perry Tsang, Joseph Sepich, Andrew Rost, Pavel Sachivichik, Anmolika Singh, Jackie Cheung<i></p>
        <form action="{% url 'polls:wineview' %}"method="post">
            {% csrf_token %}
            <ol>
                <li>
                    Question 1
                    <br><input name="q1" id='q1' type="text">
                </li>
                <li>
                    Enter price range
                    <br><select name="priceRange" id="priceRange">
                        <option value="under10">Under 10</option>



                    </select>
                </li>
                <li>
                    Question 3
                    <br><input name="q3" id="q3" type="text">
                </li>
            </ol>
            <button type="submit" name="submit" value="Vote">Get me da dankest wine bby</button>
        </form>
</div>
</body>
</html>