<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DS220 Wine Picker</title>
</head>
<style>
    li
    {
        margin-top: 15px;
    }
</style>

<body>
<div style="padding-left: 20px; border: 3px pink solid; width: 50%">
    <h1>DS220 Wine Boss Application</h1>
    <p>Welcome to the Wine Boss!
        <br>Picking wines can be frustrating
        <span style="font-weight:bold">:(</span>
        <br>There are so many varieties of wine, origins, costs, flavors, and descriptions
        <br>Let us to do the hard work of thinking for you!</p>

        <form action="{{ url }}"method="post">
            <ol>
                <li>
                What parameters should we use?
                <br><input type="checkbox" name="params" value="variety" checked>Wine Type</input>
                <br><input type="checkbox" name="params" value="country" checked>Country of Origin</input>
                <br><input type="checkbox" name="params" value="region" checked>Region of Origin</input>
                <br><input type="checkbox" name="params" value="winery" checked>Winery of Origin</input>
                <br><input type="checkbox" name="params" value="price" checked>Price of Wine</input>
                <br><input type="checkbox" name="params" value="score" checked>Rating of Wine</input>
                </li>
                <li>
                    What kind of wine would you like?
                    <br><select name="wineType">
                    {% for w in wineTypes %}
                        <option value="{{ w }}">{{ w }}</option>
                    {% endfor %}
                    </select>
                </li>
                <li>
                    What country, region, winery should the wine be from?
                    <br><select name="country">
                        {% for c in countries %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                        </select>
                    <br><select name="region">
                        {% for r in regions %}
                            <option value="{{ r }}">{{ r }}</option>
                        {% endfor %}
                        </select>
                    <br><select name="winery">
                        {% for w in wineries %}
                            <option value="{{ w }}">{{ w }}</option>
                        {% endfor %}
                        </select>
                </li>
                <li>
                    Enter Price Range
                    <br><select name="priceRange">
                        <option value="0 to 10">Under 10</option>
                        <option value="10 to 20">10 to 20</option>
                        <option value="20 to 30"> 20 to 30</option>
                        <option value="30 to 40"> 30 to 40</option>
                        <option value="50 to 60"> 50 to 60</option>
                        <option value="60 to 70"> 60 to 70</option>
                        <option value="70 to 80"> 70 to 80</option>
                        <option value="80 to 90"> 80 to 90</option>
                        <option value="90 to 100"> 90 to 100</option>
                        </select>
                </li>
                <li>
                    What score based on the wine review should the wine have?
                        <select name = "scoreRange">
                            <option value="0 to 10"> 0 to 10</option>
                            <option value="10 to 20"> 10 to 20</option>
                            <option value="20 to 30"> 20 to 30</option>
                            <option value="30 to 40"> 30 to 40</option>
                            <option value="40 to 50"> 40 to 50</option>
                            <option value="50 to 60"> 50 to 60</option>
                            <option value="60 to 70"> 60 to 70</option>
                        </select>
                </li>
            </ol>
            <button type="submit" name="submit" value="wineview">Select Wines</button>
            <p><i> By Perry Tsang, Joseph Sepich, Andrew Rost, Pavel Sachivichik, Anmolika Singh, Jackie Cheung</i></p>
        </form>

</div>
{% if results %}
    <div>
        Your answer for q1 is: {{q1}}
        Your answer for q2 is: {{q2}}
        Your answer for q3 is: {{q3}}
        Your answer for q4 is: {{q4}}
        Your answer for q5 is: {{q5}}
    </div>
{% endif %}
</body>
</html>